﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jsgrid-grid-body {
    height: 100% !important;
}

.social-background {
    background-color: #f6f6fd;
}

#gridPanel {
    margin: 30px 0px 10px 0px;
}

.block-details {
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-details {
    float: left;
    margin-top: 20px;
    width: 320px;
}

.social-details {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.exit-details {
    float: left;
    margin-top: 28px;
    margin-left: 20px;
}

.header-text {
    font-size: 18px;
    color: #222;
}

.group-list-social {
    height: 90px;
}

.left-group-social {
    float: left;
}

.right-group-social {
    float: right;
}

.list-social {
    overflow-y: auto;
    height: 280px;
    width: 330px;
}

.btn-add-social {
    color: #222 !important; 
    margin: 5px 0px !important;
}
