﻿
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Вы точно хотите удалить запись?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="GridControl.deleteRecord(); $('#DeleteModal').modal('hide');">Да</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>
