﻿
@{ 
    int idRecord = 0;
    if (ViewBag.IdRecord != null)
    {
        idRecord = (int)ViewBag.IdRecord;
    }
}

<div class="form-details">
    <h4 class="header-text" style="margin: 10px 0px;">Пользователь</h4>
    <div class="block-details" style="padding: 10px 30px;">
        @if (idRecord == 0)
        {
            @Html.Action("AddDetails", "Home")
        }
        else
        {
            @Html.Action("EditDetails", "Home", new { id = idRecord })
        }
    </div>
</div>

@if (idRecord > 0)
{
    <div class="social-details">
        <h4 class="header-text" style="margin: 10px 0px;">Родственники</h4>
        <div class="block-details" style="padding: 5px 8px;">
            <button type="button" class="btn btn-link btn-add-social" data-target="#PanelGridMaster" data-toggle="modal">
                <span class="glyphicon glyphicon-plus"></span>
                Добавить
            </button>
            <div id="BlockSocial">
                @Html.Action("Show", "Relatives", new { personId = idRecord })
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Relatives/PanelGridMaster.cshtml", idRecord)
}

<a href="javascript:void(0)" class="exit-details header-text" onclick="AppControl.loadHomePage()">Выйти</a>
