﻿@using TestSocial.Models
@model PersonView

<div id="DetailsForm">
    @using (Ajax.BeginForm("EditDetails", "Home", new { id = Model.Id },
        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "DetailsForm",
            InsertionMode = InsertionMode.Replace
        },
        new { id = "RegistrationForm", @class = "form-horizontal" }))
    {
        if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <span class="field-validation-valid text-danger">@Model.ErrorMessage</span>
        }

        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label cols-sm-2" })
            <div class="cols-sm-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control required-field" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Surname, new { @class = "control-label cols-sm-2" })
            <div class="cols-sm-10">
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control required-field" })
                @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Patronymic, new { @class = "control-label cols-sm-2" })
            <div class="cols-sm-10">
                @Html.TextBoxFor(m => m.Patronymic, new { @class = "form-control required-field" })
                @Html.ValidationMessageFor(m => m.Patronymic, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DateAgeString, new { @class = "control-label cols-sm-2" })
            <div class="cols-sm-10">
                @Html.TextBoxFor(m => m.DateAgeString, new { @class = "form-control required-field" })
                @Html.ValidationMessageFor(m => m.DateAgeString, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "control-label cols-sm-2" })
            <div class="cols-sm-10">
                @Html.TextAreaFor(m => m.Address, new { @class = "form-control required-field" })
                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div style="float: right;">
                <input type="submit" id="SubmitRegistration" class="btn btn-default" value="Сохранить">
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $("#DateAgeString").datepicker({
        dateFormat: 'dd.mm.yy'
    });
</script>