﻿
<div id="gridPanel">
    <button type="button" class="btn btn-default" onclick="GridControl.addRecord()">Добавить</button>
    <button type="button" class="btn btn-default" onclick="GridControl.editRecord()">Изменить</button>
    <button type="button" class="btn btn-danger" id="DeleteDetails" data-target="#DeleteModal">Удалить</button>
</div>
<div id="gridSocial"></div>

<script type="text/javascript">
    $(function () {
        var selectedRow;
        $("#gridSocial").jsGrid({
            height: "100%",
            width: "100%",
            editinig: false,
            filtering: true,
            autoload: true,

            pageSize: 15,
            pageButtonCount: 5,

            loadMessage: "Загрузка данных...",

            controller: {
                loadData: function (filter) {
                    var deferred = $.Deferred();
                    return $.ajax({
                        type: "GET",
                        url: "/Home/Persons",
                        data: filter,
                        dataType: "json",
                        success: function (data) {
                            deferred.resolve(data);
                        }
                    });
                },
            },
            
            rowClick: function (args) {
                if (selectedRow != null) {
                    selectedRow.children('.jsgrid-cell').css('background-color', '');
                }
                var $row = this.rowByItem(args.item);
                $row.children('.jsgrid-cell').css('background-color', '#c4e2ff');
                selectedRow = $row;
                GridControl.selectedRow = args.item;
            },

            rowDoubleClick: function(args) {
                GridControl.editRecord();
            },

            fields: [
                { name: "Id", width: 50 },
                { name: "Name", title: "Имя", type: "text", width: 100 },
                { name: "Surname", title: "Фамилия", type: "text", width: 100 },
                { name: "Patronymic", title: "Отчество", width: 100 },
                { name: "DateAge", title: "Дата рождения", type: "date", myCustomProperty: "bar", width: 100 },
                { name: "Address", title: "Адрес", width: 100 },
                { type: "control", editButton: false, deleteButton: false, clearFilterButton: true, }
            ]
        });
    });

    $("#DeleteDetails").click(function () {
        if (GridControl.selectedRow != null) {
            $("#DeleteModal").modal();
        }
    });
</script>

<script src="~/Scripts/Project/GridControl.js"></script>
@Html.Partial("~/Views/Home/DeleteDetailsDialog.cshtml")
