﻿@model int

<div class="modal fade" id="PanelGridMaster" tabindex="-1" role="dialog" aria-labelledby="MasterLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger" onclick="GridControl.addRelative(@(Model));">Добавить</button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float: right; margin-top: 0px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Project/GridControl.js"></script>
<script type="text/javascript">
    $("#PanelGridMaster").on("show.bs.modal", function (e) {
        $(this).find(".modal-body").load("@("/Relatives/GridMaster?personId=" + Model)");
    });
</script>