﻿@using TestSocial.Models
@model List<PersonView>

@{ 
    int personId = (int)ViewBag.PersonId;
}

<div class="list-group list-social">
    @foreach (var view in Model)
    {
        <div class="list-group-item group-list-social">
            <div class="left-group-social">
                <a href=@("/Home/Details?Id=" + view.Id)>
                    <h4 class="list-group-item-heading">
                        @string.Format("{0} {1} {2}", view.Surname, view.Name, view.Patronymic)
                    </h4>
                </a>
                <p class="list-group-item-text"><b>Дата рождения: </b>@view.DateAgeString</p>
                <p class="list-group-item-text"><b>Адрес: </b>@view.Address</p>
            </div>
            <a href="javascript:void(0)" onclick="SocialControl.deleteRecord(@(personId), @(view.Id))" class="right-group-social">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    }
</div>

<script src="~/Scripts/Project/SocialControl.js"></script>
